### Test 1: No temperature set and no subqueries.

#### Correct answers: 30/45

<hr>

### Test 2: Temperature set to 0.1 and no subqueries.

#### Correct answers: 35/45

<hr>

### Test 3: Temperature set to 0.1 and 5 subqueries.

#### Correct answers: 37/45

<hr>

### Test 4: Temperature set to 0 and 10 subqueries.

- 8 minutes for 45 queries (10 seconds per query)

#### Correct answers: 39/45


<hr>

### Test 5: Temperature set to 0, 10 subqueries, top_k set to 5 (previously 3) and added secondary judge. 

- 8 minutes for 45 queries (10 seconds per query)

#### Correct answers: 39/45

<hr>

### Test 6: Temperature set to 0, 20 subqueries, top_k set to 8, and added secondary judge and back to initial judge loop

- 14 minutes for 45 queries (18 seconds per query)

#### Correct answers: 42/45